src/*.exe
src/unicoin
src/unicoind
src/test_unicoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.unicoin

# Compilation and Qt preprocessor part
*.qm
Makefile
unicoin-qt
Unicoin-Qt.app

# Unit-tests
Makefile.test
unicoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
